@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 767px) {
  .nav-open #nav {
    max-height: 100vh;
  }
  .nav-open .i-close {
    opacity: 1;
  }
  .nav-open .i-open {
    opacity: 0;
  }
}
